/* This is a global application of CSS which applies too all of the below unless otherwise specifided */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    --background-color: #1B473F;
    --text-color: #fff;
}

/* This is asking anything in the header to have the display of flex with space inbetween. Without this CSS the two buttons in the header would automatically sit together on the left. */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}

/* For neatness, we have asked that all the elements within body are displayed in columns with the variable colors being applied to avoid repetition. This would also be applied to main is is a child of body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 10px;
}

/* This CSS is being applied to the questions and answers */
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    margin-bottom: 10px;
    list-style: none;
}


/* These are adding display properties to the questions and answers */
.question_page,
.submit_page,
.highscore_page,
#check_line {
    display: none;
}

/* I wanted some more space between the questions and the answers therefore added a margin for simplicity */
h2 {
    margin-bottom: 50px;
}

/* The buttons have had a curve/radius added as well as a hover to make it clear which button the user is pressing. */
.button {
    background: white;
    border-radius: 20px;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 20px;

}

.button:hover {
    background-color: var(--background-color);
}

/* The inputs default was offcenter in comparison to the other elements therefore I used the input tag to alter this */

input {
    display: inline;
    align-items: center;
    margin-left: 25px;
}

/* i fixed the footer to the bottom of the page and aligned it central with the rest of the elements. */
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* The media queries allows the quiz to be accessible at 2 sizes, however it does also work on smaller devices and will change color accordingly. */

@media only screen and (max-width: 960px) {

    main {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen and (max-width: 520px) {

    body {
        font-size: 130%;
    }

    main {
        margin-left: 12px;
        margin-right: 12px;
    }
}